# Resultados de ejecución de notebooks
execution_results/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
